@import 'variables';
@import 'mixins';


h2 {
    color: #454282;
    text-align: center;
    font-size: 4px;
}

h1 {
    color: 221e53;
    text-align: center;

    .txtindex {
        color: #fff;

    }
}

body {
    background-image: url(../img/fondogris.jpg);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

.link {
    text-decoration: none;
    color: blue;
    padding: 10px 8px;
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    max-width: 320px;
    height: 65px;
    margin-bottom: 60px;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all ease 0.5s;
    background: #2020e3;
}

.link:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    background: #f2b0b0
}


.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
}

.mb-3 {
    font-size: 20px;
    border: 1px solid #210454;
    width: 350px;
    margin: auto;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(99, 102, 194, 0.222);
    text-align: left;


}

.btn {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
    max-width: 320px;
    height: 35px;
    margin-bottom: 60px;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all ease 0.5s;
}

.btn:hover {
    @extend .btn;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.form-control1 {
    width: 75%;
    height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.form-control2 {
    width: 75%;
    height: 50px;
    padding: 12px 20px;
    margin: 30px 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: none;
}

.tambien {
    text-align: left;

}

.rounded {
    width: 500px;
    height: 400px;
}

.carousel {
    width: 1000px;
    height: 700px;
    justify-items: center;
    justify-content: center;

}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../img/backgroundimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image .hero-text {
    color: #fff;
    text-align: center;
}

.hero-image .hero-text h1 {
    font-size: 50px;
    font-weight: 500;
}

.hero-image .hero-text p {
    font-size: 30px;
    font-weight: 500;
    line-height: 10px;
}

.hero-image .hero-btn {
    text-decoration: none;
    color: #fff;
    background: #79421f;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.hero-image .hero-btn:hover {
    background: #fff;
    color: #000;
}

.icon-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.icon-box .box {
    margin-right: 30px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    cursor: pointer;
    border: 1px dashed #042f4b;

}

.icon-box .box img {
    width: 30px;
}

.icon-box .box:hover {
    transform: rotate(360deg)
}

.icon-box img:hover {
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.4)
}

.grid {
    display: grid;
    grid-template-columns: 750px auto;
    grid-template-rows: 600px auto;
    gap: 10px;
    padding: 1em;
    max-width: 70rem;
}

.pconocenos {
    text-align: center;
    color: #210454;

}

.grid .box1 {
    background-image: url(../img/conocenos.jpeg);
    width: 100%;
}

.grid .box2 {
    color: #042f4b;
}

.productGrids {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 2000px;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
}

@media screen and (max-width: 600px) {
    .productGrids {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 6000px;
        justify-content: center;
        align-content: space-around;
        justify-items: center;
        column-gap: 20px;
        row-gap: 40px;
    }
}


@media screen and (min-width: 600px) and (max-width:900px) {

    .productGrids {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 2500px;
        justify-content: center;
        align-content: space-around;
        justify-items: center;
        column-gap: 20px;
        row-gap: 40px;
    }

}